* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  max-width: 100%;
}
/* navbar styles added */

nav {
  margin: 30px 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.nav-li {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #575757;
}

.common-btn {
  background-color: #2428f5;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
/* navbar styles closed */

/* background image styles  */
.hero {
  position: relative;
  background-image: url(./assets/banner.jpg);
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("./assets/banner.jpg");
  height: 786px;
  margin: auto;
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}
.text-code {
  position: absolute;
  left: 28%;
  right: 20%;
  top: 22%;
  color: white;
  font-weight: 700;
  font-size: 80px;
  margin: auto;
}
.normal-text {
  color: white;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 35%;
  text-align: center;
  font-weight: normal;
  font-size: medium;
  margin: auto;
}
.button-text {
  position: absolute;
  bottom: 80px;
  left: 46%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  font-size: larger;
}
/* speaker section started */
section h2 {
  text-align: center;
  font-weight: 800;
  margin-top: 80px;
  font-size: 50px;
}

.speaker-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 50px 150px;
}

.card {
  border: .5px solid rgb(175, 173, 173);
  background: white;
  border-radius: 10px;
}

.card-items {
  margin: 5px;
  text-align: left;
}
.card-items span {
  color: rgb(24, 90, 233);
  font-weight: bold;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* speaker section closed*/

/* pricing section styles  */

.normal-btn {
  border-radius: 10px;
  background-color: white;
  color: #2428f5;
  padding: 10px 20px;
  font-weight: bold;
  border-color: #2428f5;
  border: 0.5px solid;
  cursor: pointer;
}
.pricing{
  margin: auto;
}

.price-container{

display: flex;
justify-content: space-between; 
margin-left: 270px;
margin-right: 270px;



}
.price-card{
  width: 280px;
  background-color: white;
  border: .5px solid #bbbaba;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: #424141;
margin-bottom: 50px;
}

.pro{

  width: 280px;
 border: .5px solid #bbbaba;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
   background:#0d1c33;
    color:#bbbaba;
    margin-bottom: 50px;
}
.pro ul{
  padding-left: 20px;
  line-height: 2;
}
.price-card ul{
  padding-left: 20px;
  line-height: 2;
}
.pro .common-btn{
  margin-top: 20px;
}
.price-card .normal-btn {
  margin-top:20px;
}

.line {
  border: none;
  height: .5px;
background-color: rgb(136, 136, 136);
width: auto;
margin: 10px 0px;

}

/* pricing section closed */

/* something m issing section  */











/* something missing section close */



/* footer section styles */

footer{

  background-color: #0d1c33;
  height: 70px;
}
.footer-container{
 display: flex;
 justify-content: space-between;
 color: #bbbaba;
 align-items: center;
 margin: 50px;

}
.footerlinks{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footerlinks a{

  color: #bbbaba;
  text-decoration: none;
  margin-top: 25px;
}
/* footer closed */
